.tableContainer {
    display: flex;
}

.tableContainer p {
    height: calc(85vh / 8);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.pos {
    width: 5vw;
    border-bottom: 1px solid black;
}

.team {
    width: 20vw;
}

.P, .W, .D, .L {
    width: 10vw;
    border-bottom: 1px solid black;
}

.GF, .GA, .GD {
    width: 10vw;
    border-bottom: 1px solid black;
}

.points {
    width: 10vw;
    text-decoration: underline;
    border-bottom: 1px solid black;
}

.topTableLine {
    display: flex;
    margin-top: 1vh;
    padding-bottom: 1vh;
    height: 3vh;
    border-bottom: 1px solid black;
}

.topTableLine p {
    border-bottom: none !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.team div {
    height: calc(85vh / 8) !important;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vw;
    gap: 2vw;
    border-bottom: solid black 1px;
}

.teamLogo {
    border-radius: 100%;
    height: calc(85vh / 8 - 5vh);
}