@import url("https://api.fontshare.com/v2/css?f[]=clash-display@500&display=swap");

* {
  font-family: 'Clash Display', sans-serif;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}